{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row my-5">
        <div class="col-12">
            <img src="{{MEDIA_URL}}banner.jpg" alt="Main Page Banner" class="img-fluid">
        </div>
    </div>
    <!-- Deals and offers boxes -->
    <div class="row mt-5">
        <div class="col-sm-12 col-md-4 col-lg-4">
            <a href="#">
                <div class="clearance-wrapper">
                    <div class="main-subtitles text-center">
                        <h2 class="logo-font">Clearance</h2>
                        <small>Check out our clearance products!</small>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            <a href="#">
                <div class="deals-wrapper text-center">
                    <div class="main-subtitles">
                        <h2 class="logo-font">Deals</h2>
                        <small>Check out our new Deals!</small>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            <a href="#">
                <div class="new-arrivals-wrapper text-center">
                    <div class="main-subtitles">
                        <h2 class="logo-font">New Arrivals</h2>
                        <small>Check out New Arrivals!</small>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <!-- Popular categories -->
    <div class="row mt-5">
        <div class="col-12">
            <h1 class="text-center logo-font">popular categories</h1>
            <hr class="w-50">
        </div>
        {% for category in categories %}
        {% if category.is_popular %}
        <div class="col-sm-12 col-md-4 col-lg-4 p-3">
            <div>
                <a href="{% url 'products' %}?category={{ category.name }}" class="category-name">{{ category.name }}
                    {% if category.image %}
                    <img class="card-img-top img-fluid rounded" src="{{ category.image.url }}" alt="{{ category.name }}"
                        style="height: 300px;">
                    {% else %}
                    <img class="card-img-top img-fluid" src="/media/noimage.png" alt="{{ category.name }}"
                        style="height: 300px;">
                    {% endif %}
                </a>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}