{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="container-fluid">
    <div class="row mt-5">
        <div class="offset-1 text-black">
            <a href="{% url 'home' %}" class="text-black">
                <i class="fas fa-home"></i>
                <span>Home</span>
            </a>
            <span> > </span>
            <a href="{% url 'products' %}" class="text-black">
                <i class="fas fa-folder-open"></i>
                <span>All Products</span>
            </a>
            <span> > </span>
            <a href="{% url 'products' %}?category={{ product.category.name }}"
                class="text-black">{{ product.category.name }}</a>
            <span> > </span>
            <span><strong>{{ product.name }}</strong></span>
        </div>
    </div>
    <div class="row">
        <!-- Product Image -->
        <div class="col-12 col-md-5 col-lg-4 offset-lg-2 mr-3">
            <div class="image-container my-5">
                {% if product.image %}
                <a href="{{ product.image.url }}" target="_blank">
                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                </a>
                {% endif %}
            </div>
        </div>
        <!-- Product Details -->
        <div class="col-12 col-md-6 col-lg-5">
            <div class="product-details-container mb-5 mt-md-5">
                <p class="mb-0 logo-font">{{ product.name }}</p>
                <p class="mt-2 mb-0">Average Rating</p>
                <div class="rating-star">
                    <span>
                        <i class="fa fa-star{% if product.average_review < 0.5 %}-o {% elif product.average_review >= 0.5 and product.average_review < 1 %}-half-o {% endif %}"
                            aria-hidden="true"></i>
                        <i class="fa fa-star{% if product.average_review < 1.5 %}-o {% elif product.average_review >= 1.5 and product.average_review < 2 %}-half-o {% endif %}"
                            aria-hidden="true"></i>
                        <i class="fa fa-star{% if product.average_review < 2.5 %}-o {% elif product.average_review >= 2.5 and product.average_review < 3 %}-half-o {% endif %}"
                            aria-hidden="true"></i>
                        <i class="fa fa-star{% if product.average_review < 3.5 %}-o {% elif product.average_review >= 3.5 and product.average_review < 4 %}-half-o {% endif %}"
                            aria-hidden="true"></i>
                        <i class="fa fa-star{% if product.average_review < 4.5 %}-o {% elif product.average_review >= 4.5 and product.average_review < 5 %}-half-o {% endif %}"
                            aria-hidden="true"></i>
                    </span>
                    <span>/ {{ product.count_reviews }} Reviews</span>
                </div>
                <p class="lead mb-0 text-left font-weight-bold">&euro; {{ product.price }}</p>
                {% if product.category %}
                <p class="small mt-1 mb-0">
                    <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                        <i class="fas fa-tag mr-1"></i>{{ product.category.name }}
                    </a>
                </p>
                {% endif %}
                {% if product.rating %}
                <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 10</small>
                {% else %}
                <small class="text-muted">No Rating</small>
                {% endif %}
                {% if request.user.is_superuser %}
                <small class="ml-3">
                    <a href="#">Edit</a> |
                    <a class="text-danger" href="#">Delete</a>
                </small>
                {% endif %}
                <p class="mt-3">{{ product.description }}</p>
                <form class="form" action="{% url 'add_to_cart' product.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <!-- Set the variation selector only to Clothes -->
                        {% if  product.variation_set.colors %}
                        <hr class="w-100">
                        <div class="mt-2 pt-3 col-12">
                            <div class="item-option-select ">
                                <h6>Product Color:</h6>
                                <select name="color" class="form-control" required>
                                    <option value="" disabled selected>Chose Color</option>
                                    {% for i in product.variation_set.colors %}
                                    <option value="{{ i.variation_value | lower }}">
                                        {{ i.variation_value | capfirst }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        {% endif %}
                        {% if  product.variation_set.sizes %}
                        <div class="mt-2 pt-3 col-12 mb-3">
                            <div class="item-option-select">
                                <h6>Select Size</h6>
                                <select name="size" class="form-control">
                                    <option value="" disabled selected>Chose Size</option>
                                    {% for i in product.variation_set.sizes %}
                                    <option value="{{ i.variation_value | lower }}">
                                        {{ i.variation_value | capfirst }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <hr class="w-100 mt-5">
                        {% endif %}
                        <div class="col-12 mt-2">
                            <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 mt-5">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                            {% if product.stock <= 0 %}
                            <a href="" class="btn btn-danger rounded-0 mt-5" style="pointer-events: none;"> <span
                                    class="text"><s>Add to
                                        cart</s></span> <i class="fas fa-shopping-cart"></i> </a>
                            <h6 class="text-danger text-right mt-1 text-uppercase">Out of stock</h6>
                            {% else %}
                            {% if in_cart %}
                            <button type="submit" class="btn btn-success rounded-0 mt-5"> <span class="text">Added to
                                    cart</span> <i class="fas fa-check"></i> </button>
                            {% else %}
                            <button type="submit" class="btn btn-black rounded-0 mt-5"> <span class="text">Add to
                                    cart</span> <i class="fas fa-shopping-cart"></i> </button>
                            {% endif %}
                            {% endif %}
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">`
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <!-- Costomers Reviews -->
        <div class="col-12">
            <div>
                <h3>Customer Reviews</h3>
                <div class="rating-star">
                    <span>
                        <i class="fa fa-star{% if product.average_review < 0.5 %}-o {% elif product.average_review >= 0.5 and product.average_review < 1 %}-half-o {% endif %}"
                            aria-hidden="true"></i>
                        <i class="fa fa-star{% if product.average_review < 1.5 %}-o {% elif product.average_review >= 1.5 and product.average_review < 2 %}-half-o {% endif %}"
                            aria-hidden="true"></i>
                        <i class="fa fa-star{% if product.average_review < 2.5 %}-o {% elif product.average_review >= 2.5 and product.average_review < 3 %}-half-o {% endif %}"
                            aria-hidden="true"></i>
                        <i class="fa fa-star{% if product.average_review < 3.5 %}-o {% elif product.average_review >= 3.5 and product.average_review < 4 %}-half-o {% endif %}"
                            aria-hidden="true"></i>
                        <i class="fa fa-star{% if product.average_review < 4.5 %}-o {% elif product.average_review >= 4.5 and product.average_review < 5 %}-half-o {% endif %}"
                            aria-hidden="true"></i>
                    </span>
                    <span>/ {{ product.count_reviews }} Reviews</span>
                </div>
            </div>
            <div class="box mb-3">
                <form action="{% url 'submit_review' product.id %}" method="POST">
                    {% csrf_token %}
                    <h5>Write Your Review</h5>
                    <div class="col-12">
                        <!-- Rating stars -->
                        <label for="">How do you rate this product?</label><br>
                        <div class="rate">
                            <input type="radio" name="rating" id="rating10" value="5" required>
                            <label for="rating10" title="5"></label>
                            <input type="radio" name="rating" id="rating9" value="4.5" required>
                            <label for="rating9" title="4.5" class="half"></label>
                            <input type="radio" name="rating" id="rating8" value="4" required>
                            <label for="rating8" title="4"></label>
                            <input type="radio" name="rating" id="rating7" value="3.5" required>
                            <label for="rating7" title="3.5" class="half"></label>
                            <input type="radio" name="rating" id="rating6" value="3" required>
                            <label for="rating6" title="3"></label>
                            <input type="radio" name="rating" id="rating5" value="2.5" required>
                            <label for="rating5" title="2.5" class="half"></label>
                            <input type="radio" name="rating" id="rating4" value="2" required>
                            <label for="rating4" title="2"></label>
                            <input type="radio" name="rating" id="rating3" value="1.5" required>
                            <label for="rating3" title="1.5" class="half"></label>
                            <input type="radio" name="rating" id="rating2" value="1" required>
                            <label for="rating2" title="1"></label>
                            <input type="radio" name="rating" id="rating1" value="0.5" required>
                            <label for="rating1" title="0.5" class="half"></label>
                        </div><br>
                        Review Title:
                        <input type="text" class="form-control" name="subject"><br>
                        Review:
                        <textarea name="review" rows="5" class="form-control"></textarea><br>
                        {% if user.is_authenticated %}
                        <input type="submit" value="Submit Review" class="btn btn-black">
                        {% else %}
                        <p>You must be logged in to post a review
                            <span>
                                <a href="{% url 'account_login' %}"> Login now</a>
                            </span>
                        </p>
                        {% endif %}
                    </div>
                </form>
                {% if reviews %}
                {% for review in reviews %}
                <hr class="mt-3">
                <div class="icontext w-100">
                    <div class="text">
                        <span class="date text-muted float-md-right">{{ review.updated_at }}</span>
                        <h6 class="mb-1">{{ review.user }}</h6>
                        <div class="rating-star">
                            <span>
                                <i class="fa fa-star{% if review.rating == 0.5 %}-half-alt {% elif review.rating < 1 %}-o {% endif %}"
                                    aria-hidden="true"></i>
                                <i class="fa fa-star{% if review.rating == 1.5 %}-half-alt {% elif review.rating < 2 %}-o {% endif %}"
                                    aria-hidden="true"></i>
                                <i class="fa fa-star{% if review.rating == 2.5 %}-half-alt {% elif review.rating < 3 %}-o {% endif %}"
                                    aria-hidden="true"></i>
                                <i class="fa fa-star{% if review.rating == 3.5 %}-half-alt {% elif review.rating < 4 %}-o {% endif %}"
                                    aria-hidden="true"></i>
                                <i class="fa fa-star{% if review.rating == 4.5 %}-half-alt {% elif review.rating < 5 %}-o {% endif %}"
                                    aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="mt-3">
                    <h6>{{review.subject}}</h6>
                    <p>{{ review.review }}</p>
                </div>
                {% endfor %}
                {% else %}
                <hr class="mt-3">
                <p class="logo-font text-center">no reviews for <strong>{{product.name}}</strong> at the moment</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $('.btt-link').click(function (e) {
        window.scrollTo(0, 0)
    })
</script>

<script type="text/javascript">
    $('#sort-selector').change(function () {
        var selector = $(this);
        var currentUrl = new URL(window.location);

        var selectedVal = selector.val();
        if (selectedVal != "reset") {
            var sort = selectedVal.split("_")[0];
            var direction = selectedVal.split("_")[1];

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");

            window.location.replace(currentUrl);
        }
    })
</script>
{% endblock %}